/**************************************************/
/*Author : Lee Macklin                            */
/*Date   : 5/2/2021                               */
/*Purpose: CSS for building out a portfolio of    */
/*         work performed for the purpose of      */
/*         marketing my skills to potential       */
/*         employers                              */
/**************** Globals *************************/
:root{
    --font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
}

/**************************************************/
/************** Header-Section - Start ************/
/**************************************************/
.header-section {
    display: flex;
    height: 100px;
    margin: 0px;
    align-items: center;
    font-family: var(--font-family);
}

#headshot {
    order:1;
}
#headshot img{
    width: 100px;
    height: 100px;
}
#namePlate{
    order:2;
}
#namePlate img{
    height: auto;
    width: 300px;
}

#topNav{
    order:3;
    display:flex;
    margin-left:auto;
}

#topNav div{
    margin:.4em;
    color:rgb(14,36,127);
}

.navElement{
    font-size: 1em;
}

/************** Header-Section - End **************/

/**************************************************/
/************* Banner Section - Begin *************/
/**************************************************/
.banner, .work{
    display: flex;
    position: relative;
    width: auto;
    font-family: var(--font-family);
}

.banner img {
    width:100%
}

.bannerWin {
    right: 25px;
    top: 5px;
    height: 40px;
    width: 400px;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    background: #ffff;
    border: 5px solid midnightblue;
    border-radius: 10px;
  }

  .bannerWin, #portfolioWin div{
      align-content: center;
  }

  .greenItalText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: green;
  }
/************* Banner Section - End ***************/

/**************************************************/
/************* Meet Me Section - Begin ************/
/**************************************************/
.meetMe {
    display: flex;

    margin: 0px;
    padding-right: 50px;
    font-size: .85em;
    align-items: center;
    font-style: oblique;
    color:midnightblue;
    justify-content:space-around;
    font-family: var(--font-family);
    background-color:rgb(243, 243, 243);
} 

.leftSide {
    display: flex;
    position: relative;
    
    width: 50%;
    white-space: nowrap;
    font-size: 24px;
    padding-left: 1em;
    padding-right: 2em;
    align-items:flex-end;
    flex-direction: column;
    justify-content:flex-end;
    align-content: flex-end;
}

#whoLeeIs {
    font-style:normal;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

whoLeeIs p{
    text-align: justify;
    text-justify:distribute-all-lines;
}

#moreLessDots {display: none;}
#moreLessBtn{
    text-decoration: underline;
    font-size: 12px;
    font-weight: 5000;
}
#moreLessText {display: inline;}
/***************** Meet-Me End ********************/

/**************************************************/
/************* Work Section - Begin ************/
/**************************************************/

/* Shared Classes with Banner */

/*EACH portfolio example must get its' own overlay window */
.work{
    background-image: url("../images/portfolioBack.jpg");
    background-size: cover;
    opacity: .85;

}

#portfolioWin {
    display: flex;

    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.example {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    height: auto;
    width: auto;
    opacity: 0.8;
    padding: 10px;
    position: relative;
    background: #ffff;
    border: 5px solid rgb(19, 63, 19);
    border-radius: 10px;
}

/***************** Work End ********************/

/**************************************************/
/************* Contact Section - Begin ************/
/**************************************************/
.contact {
    display: flex;

    height: 10px;
    background-color:darkgoldenrod;
}
/***************** Contact End ********************/
/**************Responsive CSS Start ********
@media(min-width:782px){
    body {
        display: flex;        
      }
}**/